/* ===== GLOBAL BACKGROUND ===== */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #6e4a0a, #977842);
  min-height: 100vh;
  color: white;
}

/* ===== NAVBAR ===== */

nav {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.08);
  padding: 18px 30px;
  display: flex;
  gap: 25px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: #00e5ff;
  transform: scale(1.05);
}

/* ===== MAIN CONTAINER ===== */

.container {
  padding: 40px;
}

/* ===== GLASS CARD ===== */

.card {
  background: rgb(250, 248, 248);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(255, 255, 255);
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgb(255, 255, 255);
}

/* ===== HEADINGS ===== */

h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

h3 {
    color:black;
  margin-bottom: 15px;
}

/* ===== BUTTON ===== */

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #00e5ff, #00c853);
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
}

/* ===== SELECT & INPUT ===== */

select {
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
  margin-top: 10px;
}

/* ===== CHECKBOX CONTAINER ===== */

.checkbox-container {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
}

.checkbox-item {
    color: black;
  display: block;
  margin-bottom: 6px;
}
.lab{
    color: black;
}

/* ===== TABLE ===== */

table {
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: center;
  background: rgba(255,255,255,0.05);
  color: black;
}

th {
  background: rgba(0,0,0,0.3);
}

/* ===== PROFILE PAGE ===== */

.team-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.team-card {
  flex: 1;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(15px);
  transition: 0.3s;
}

.team-card:hover {
  transform: scale(1.05);
}
.image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}
.image-placeholder {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* ===== SCROLLBAR ===== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}
